body {
    background-color:white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
   }
.header {
    display: flex;
    justify-content: center;
    align-items: center;
   }
.navbar {
    display: flex;
    justify-content: center;
    text-align: center;
  
}
/* tips colores  diseño      */
.navbar{
    height: 25px;
    background-color: black;
    color: white;
     margin:  auto;

}
.navbar a {
    color: white;
    font-size: 20px;
    padding: 0 30px;
    text-decoration: none;
    text-transform: uppercase;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
.content {
    padding: 50px 0;
}
.who {
    background-color: black;
    color: white;
    margin: 0 auto;
}
.contain  h2 {
   display: flex;
   justify-content:center;
   text-align: center;
   align-items:center ;
   
}
textarea {
    width: 40%;
    height: 60%;
    border-style: double;
    resize: none;
}
button {
    width: 40%;
    height: 40px;
    color: white;
    background: black;
    border: none;
    font-size: 20px;
    opacity: 0.4;
    transition: 0.3s;
    cursor: crosshair;
}

    